@import "~bootstrap/scss/bootstrap";
// @import '../../../constants.scss';

.App {
  text-align: center;
}

.chat{


}

.message-list{
  height: 60vh;
  overflow-y: scroll;
  background: linear-gradient(rgb(241, 235, 237) 0%, rgb(221, 216, 250) 50%, rgb(231, 246, 248) 100%);
}

.message-input {
  
  padding: 1vw 2vw;
  // position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}



.name {
  margin-left: 10px;
}

