@import "~bootstrap/scss/bootstrap";
// @import '../../../constants.scss';

.App {
  text-align: center;
}

.chat{
  display: relative

}

.message-list{
  overflow-y: scroll;
}

.message-input {
  padding: 1vw 2vw;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}



.name {
  margin-left: 10px;
}

